<div class="chart" id="issues-by-tracker"></div>
<div class="chart" id="issues-by-status"></div>
<div class="chart" id="issues-by-priority"></div>

<script type="text/javascript">
  $(function() {
    Charts.createDonut({
      selector: '#issues-by-tracker',
      text: 'Peticiones por tipo',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_tracker).to_json.html_safe %>)
    });

    Charts.createDonut({
      selector: '#issues-by-status',
      text: 'Peticiones por estado',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_status).to_json.html_safe %>)
    });

    Charts.createDonut({
      selector: '#issues-by-priority',
      text: 'Peticiones por prioridad',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_priority).to_json.html_safe %>)
    });
  });
</script>